body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 241, 249);
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    margin-top: 50px;
}

.button-container,
.info-container {
    display: flex;
    align-items: center;
}

.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 5px #4faaff;
    cursor: pointer;
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: solid 1.5px rgb()230, 232, 236;
    outline: none;
}

/* list header */
.listHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.list-item {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3px;
}

.tick path {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 25px;
}

.edit {
    text-transform: uppercase;
}

.edit:hover,
.create:hover {
    background-color: #4db954;
    color: #fff;
    box-shadow: 0 0 5px #4db954;
}

.delete {
    text-transform: uppercase;
}

.delete:hover,
.out:hover {
    background-color: #ff692e;
    color: #fff;
    box-shadow: 0 0 5px #ff692e;
}

.pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 6px 24px 0, rgb(0, 0, 0, 0.08) 0 0 0 1px;
    width: 400px;
}

.modal .form-title-container {
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.modal .form-title-container button:active {
    color: rgb(241, 59, 59);
    border: none;
    outline: none;
}
.modal form{
    display: flex;
    flex-direction: column;
}
.modal label {
    font-size: 20px;
}

.auth-container{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.auth-container-box{
    width: 500px;
    border-radius:  10px;
    overflow: hidden;
    box-shadow:  rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px ;
}


.auth-container-box form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 350px;
}

.auth-options{
    display: flex;
}
.auth-options button{
    width: 50%;
    border: none;
    padding: 10px;
    color: rgb(38, 38,47);
    cursor: pointer;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
    margin: 0 2px;
}

.load-1{
    height: 100vh;
    display: flex;
    align-items: center;
}
.load-1 .line:nth-last-child(1) {

    animation: loadingA 1.5s 1s infinite;
}

.load-1 .line:nth-last-child(2) {
    animation: loadingA 1.5s .5s infinite;
}

.load-1 .line:nth-last-child(3) {
    animation: loadingA 1.5s 0s infinite;
}


@keyframes loadingA {
    0% {
        height: 25px;
    }

    50% {
        height: 45px;
    }

    100% {
        height: 15px;
    }
}
